<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>最萌班级合照秀</title>
    <link rel="stylesheet" href="css/celebrity.css">
    <style type="text/css">
         .icon img{padding:0 5px 2px 0; vertical-align: middle;}
    </style>
</head>
<body>

    <div class="popup">
        <div class="head">
            <h4>最萌班级合照秀 · 参与活动</h4><a href="index.blade.php" class="btn-close-wrap js-close-popup"><span class="s btn-close"></span></a></div>
        <div class="body">
            <div class="s step s-step-1" style="margin:20px auto 10px auto"></div>
            <div id="file_upload_1" class="file-wrap state-start">
                <form action="#" enctype="multipart/form-data">
                    <!-- <div class="switch-start" style="padding-bottom:50px">
                        <input name="pic" type="file"><a class="main">上传封面图</a>
                        <p class="info">支持单张4M以内图片上传</p>
                    </div> -->
                    <div>
                        <div style="padding-top:2px"><img src="images/642.jpg" width="100%" height="100%"></div>
                        <div class="icon" style="background:rgba(252, 75, 125, 0.5);line-height:30px;color:#fff;font-size:16px;"><i><img src="images/iconfont-xiangji.png" width="23" height="23" /></i>换张照片</div>
                    </div>
                </form>
            </div>
            <!-- <p><a href="javascript:;" class="continue">更换照片</a></p> -->
            <div class="rule">
                <h5>注意事项：</h5>
                <p>1、请老师们务必在安全的环境下进行拍摄；</p>
                <p>2、照片确认上传后就不能进行更换；</p>
                <p>3、活动奖品将在活动结束后陆续发放，请获奖班级耐心等候；</p>
                <p>4、活动最终解释权归幼信通所有。</p>
            </div>
        </div>
        <div class="pfooter"><a href="upload-2.html" class="btn">下一步</a></div>
    </div>

    <script src="js/zepto.js"></script>
    <script src="js/jweixin-1.js"></script>
    <script src="js/celebrity.js"></script>
</body>

</html>
